#!/bin/sh

#Set wallpaper
[ -f ~/.fehbg ] && ~/.fehbg

#Start some programs
dwmblocks &
xcompmgr &
unclutter &

#Make sure clock is synced
{ sleep $((60 - $(date +%S))) && pkill dwmblocks && setsid -f dwmblocks ; } &
