! - Misc -- !
*.cursorBlink: true
*.scrollBar: false
*.keysym.Shift-Control-V: eval:paste_clipboard
*.keysym.Shift-Control-C: eval:selection_to_clipboard
*.title:
!*.background.border: false
!*.borderColor: #282828
!*.internalborder: 4

! -- Fonts -- !

!urxvt.font: xft:Source Code Pro:Medium:size=10,xft:symbola:size=10:minspace=False
urxvt.font: xft:Iosevka:Medium:size=10,xft:symbola:size=10:minspace=False
URxvt.letterSpace: 0

!-- Xft settings -- !
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! -- Colors -- !
URxvt.depth: 24
*.alpha: 1

! - Gruvbox - !
!*background: #282828
*background: #1d2021
*foreground: #ebdbb2
*color0:  #282828
*color1:  #cc241d
*color2:  #98971a
*color3:  #d79921
*color4:  #458588
*color5:  #b16286
*color6:  #689d6a
*color8:  #928374
*color7:  #a89984
*color9:  #fb4934
*color10: #b8bb26
*color11: #fabd2f
*color12: #83a598
*color13: #d3869b
*color14: #8ec07c
*color15: #ebdbb2

! - Atelierdune Dark - !
! - Atelierlakeside Dark,
! - Cobalt2,
! - Codeschool Dark,
! - Greenscreen Dark,
! - Nord,
! - Solarized Dark,
! - Ocean Dark,
! - Pariso Dark,
! - Eighties Dark - !

! - Atelierdune Dark - !
!*.foreground:   #a6a28c
!*.foreground:   #a6a28c
!*.background:   #20201d
!*.cursorColor:  #a6a28c
!*.color0:       #20201d
!*.color1:       #d73737
!*.color2:       #60ac39
!*.color3:       #cfb017
!*.color4:       #6684e1
!*.color5:       #b854d4
!*.color6:       #1fad83
!*.color8:       #7d7a68
!*.color7:       #a6a28c
!*.color9:       #d73737
!*.color10:      #60ac39
!*.color11:      #cfb017
!*.color12:      #6684e1
!*.color13:      #b854d4
!*.color14:      #1fad83
!*.color15:      #fefbec

! - Atelierlakeside Dark - !
!*.foreground:   #7ea2b4
!*.background:   #161b1d
!*.cursorColor:  #7ea2b4
!*.color0:       #161b1d
!*.color1:       #d22d72
!*.color2:       #568c3b
!*.color3:       #8a8a0f
!*.color4:       #257fad
!*.color5:       #5d5db1
!*.color6:       #2d8f6f
!*.color8:       #5a7b8c
!*.color7:       #7ea2b4
!*.color9:       #d22d72
!*.color10:      #568c3b
!*.color11:      #8a8a0f
!*.color12:      #257fad
!*.color13:      #5d5db1
!*.color14:      #2d8f6f
!*.color15:      #ebf8ff

! - Cobalt2 - !
!*.foreground:  #ffffff
!*.background:  #132738
!*.cursorColor: #f0cc09
!*.color0:      #000000
!*.color1:      #ff0000
!*.color2:      #38de21
!*.color3:      #ffe50a
!*.color4:      #1460d2
!*.color5:      #ff005d
!*.color6:      #00bbbb
!*.color8:      #555555
!*.color7:      #bbbbbb
!*.color9:      #f40e17
!*.color10:     #3bd01d
!*.color11:     #edc809
!*.color12:     #5555ff
!*.color13:     #ff55ff
!*.color14:     #6ae3fa
!*.color15:     #ffffff
!*.colorBD:     #f7fcff

! - Codeschool Dark - !
!*.foreground:   #9ea7a6
!*.background:   #232c31
!*.cursorColor:  #9ea7a6
!*.color0:       #232c31
!*.color1:       #2a5491
!*.color2:       #237986
!*.color3:       #a03b1e
!*.color4:       #484d79
!*.color5:       #c59820
!*.color6:       #b02f30
!*.color7:       #9ea7a6
!*.color8:       #3f4944
!*.color9:       #2a5491
!*.color10:      #237986
!*.color11:      #a03b1e
!*.color12:      #484d79
!*.color13:      #c59820
!*.color14:      #b02f30
!*.color15:      #b5d8f6

! - Greenscreen Dark - !
!*.foreground:   #00bb00
!*.background:   #001100
!*.cursorColor:  #00bb00
!*.color0:       #001100
!*.color1:       #007700
!*.color2:       #00bb00
!*.color3:       #007700
!*.color4:       #009900
!*.color5:       #00bb00
!*.color6:       #005500
!*.color7:       #00bb00
!*.color8:       #007700
!*.color9:       #007700
!*.color10:      #00bb00
!*.color11:      #007700
!*.color12:      #009900
!*.color13:      #00bb00
!*.color14:      #005500
!*.color15:      #00ff00

! - Nord - !
!*.foreground:   #D8DEE9
!*.background:   #2E3440
!*.cursorColor:  #D8DEE9
!*fading: 35
!*fadeColor: #3B4252
!*.color0: #2E3440
!*.color1: #BF616A
!*.color2: #A3BE8C
!*.color3: #EBCB8B
!*.color4: #81A1C1
!*.color5: #B48EAD
!*.color6: #88C0D0
!*.color7: #E5E9F0
!*.color8: #4C566A
!*.color9: #BF616A
!*.color10: #A3BE8C
!*.color11: #EBCB8B
!*.color12: #81A1C1
!*.color13: #B48EAD
!*.color14: #8FBCBB
!*.color15: #ECEFF4

! - Solarized Dark - !
!*.foreground:   #93a1a1
!*.background:   #002b36
!*.cursorColor:  #93a1a1
!*.color0:       #002b36
!*.color1:       #dc322f
!*.color2:       #859900
!*.color3:       #b58900
!*.color4:       #268bd2
!*.color5:       #6c71c4
!*.color6:       #2aa198
!*.color7:       #93a1a1
!*.color8:       #657b83
!*.color9:       #dc322f
!*.color10:      #859900
!*.color11:      #b58900
!*.color12:      #268bd2
!*.color13:      #6c71c4
!*.color14:      #2aa198
!*.color15:      #fdf6e3

! - Ocean Dark - !
!*.foreground:   #c0c5ce
!*.background:   #2b303b
!*.cursorColor:  #c0c5ce
!*.color0:       #2b303b
!*.color1:       #bf616a
!*.color2:       #a3be8c
!*.color3:       #ebcb8b
!*.color4:       #8fa1b3
!*.color5:       #b48ead
!*.color6:       #96b5b4
!*.color8:       #65737e
!*.color7:       #c0c5ce
!*.color9:       #bf616a
!*.color10:      #a3be8c
!*.color11:      #ebcb8b
!*.color12:      #8fa1b3
!*.color13:      #b48ead
!*.color14:      #96b5b4
!*.color15:      #eff1f5

! - Eighties Dark - !
!*.foreground:   #d3d0c8
!*.background:   #2d2d2d
!*.cursorColor:  #d3d0c8
!*.color0:       #2d2d2d
!*.color1:       #f2777a
!*.color2:       #99cc99
!*.color3:       #ffcc66
!*.color4:       #6699cc
!*.color5:       #cc99cc
!*.color6:       #66cccc
!*.color7:       #d3d0c8
!*.color8:       #747369
!*.color9:       #f2777a
!*.color10:      #99cc99
!*.color11:      #ffcc66
!*.color12:      #6699cc
!*.color13:      #cc99cc
!*.color14:      #66cccc
!*.color15:      #f2f0ec

! - Pariso Dark - !
!*.foreground:   #a39e9b
!*.background:   #2f1e2e
!*.cursorColor:  #a39e9b
!*.color0:       #2f1e2e
!*.color1:       #ef6155
!*.color2:       #48b685
!*.color3:       #fec418
!*.color4:       #06b6ef
!*.color5:       #815ba4
!*.color6:       #5bc4bf
!*.color7:       #a39e9b
!*.color8:       #776e71
!*.color9:       #ef6155
!*.color10:      #48b685
!*.color11:      #fec418
!*.color12:      #06b6ef
!*.color13:      #815ba4
!*.color14:      #5bc4bf
!*.color15:      #e7e9db
